body {background-color: teal;}
body{ color: white; }
h1{ font-family:Arial;; font-size: 22px}
.program{background-color:red;;text-align:center}
.minatankar{text-align :Right;}
a{text-decoration:none;}
.migsjalv{border-style: solid;}

